ReadmeName README
IndexOptions +DescriptionWidth=*
AddDescription "Japanese Language Pack 1.0 [15 Apr 2003]" livehttpheaders-ja-1.0.xpi
AddDescription "Japanese Language Pack 1.0.1 [30 Apr 2003]" livehttpheaders-ja-1.0.1.xpi
AddDescription "Japanese Language Pack 1.1 [05 Jul 2003] (for 0.6)" livehttpheaders-ja-1.1.xpi
AddDescription "Japanese Language Pack 1.1+ [25 Oct 2003]" livehttpheaders-ja-1.1.1.xpi
AddDescription "Japanese Language Pack 1.2 [25 Oct 2003] (for 0.7)" livehttpheaders-ja-1.2.xpi
AddDescription "Japanese Language Pack 1.3 [22 Dec 2003] (for 0.8)" livehttpheaders-ja-1.3.xpi
AddDescription "Japanese Language Pack 1.4 [10 Jul 2004] (for 0.9)" livehttpheaders-ja-1.4.xpi
AddDescription "Japanese Language Pack: Latest Version" livehttpheaders-ja.xpi


AddType application/xml .rdf
AddCharset us-ascii .rdf


