Redirect permanent /www/mozilla/sidebar/navlinksidebar/doc/navLinkSidebar-window.en.ja.png http://suika.fam.cx/www/mozilla/sidebar/navlinksidebar/doc/snapshot-1.png
Redirect permanent /www/mozilla/sidebar/navlinksidebar/doc/navLinkSidebar-1.1.xpi http://suika.fam.cx/www/mozilla/sidebar/navlinksidebar/release/navLinkSidebar-1.1.xpi
